# Data Bootcamp Selection Challenge


In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary.

## Answers Dictionary

In [1]:
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

## Reading the dataset

In [2]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [3]:
df.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [5]:
df['Make'].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh',
       'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

## Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?
Format: A floating number

In [6]:
answer_dict["Q1"]= df.loc[df['Make'] == 'Volkswagen','CO2 Emission Grams/Mile'].mean()

In [7]:
answer_dict["Q1"]

392.7417210857633

In [8]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
NOTE: Consider only the name of the models and their brand, that is use only the Make and Model columns

Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.

In [9]:
answer_dict["Q2"]=df.groupby(['Make']).Model.nunique().sort_values(ascending=False).head(5).reset_index().values.tolist()

In [10]:
answer_dict["Q2"]

[['Mercedes-Benz', 333],
 ['BMW', 284],
 ['Chevrolet', 253],
 ['Ford', 185],
 ['GMC', 163]]

In [11]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q3. What are all the different types of fuels in the dataset sorted alphabetically?
Format: A list of strings sorted alphabetically.

In [12]:
answer_dict["Q3"]=sorted(df['Fuel Type'].unique())

In [13]:
answer_dict["Q3"]

['CNG',
 'Diesel',
 'Gasoline or E85',
 'Gasoline or natural gas',
 'Gasoline or propane',
 'Midgrade',
 'Premium',
 'Premium Gas or Electricity',
 'Premium and Electricity',
 'Premium or E85',
 'Regular',
 'Regular Gas and Electricity',
 'Regular Gas or Electricity']

In [14]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order BUT without modifying the negative values
Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

In [15]:
dfToyota = df[df['Make'] == 'Toyota'][['Model', 'Year', 'Fuel Barrels/Year']]

answer_dict["Q4"] = dfToyota.apply(lambda x:((x-x.mean())/x.std()) if x.name == 'Fuel Barrels/Year' else x)\
                    .sort_values(['Fuel Barrels/Year', 'Year'], ascending = [False, False], key=abs).head(9).values.tolist()

In [16]:
answer_dict["Q4"]

[['Cab/Chassis 2WD', 1993, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
 ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
 ['Camry CNG', 1999, -3.932541757118491],
 ['Camry CNG', 2001, -3.9316423754756538],
 ['Camry CNG', 2000, -3.9316423754756538],
 ['Cab/Chassis 2WD', 1993, 3.3791118637260937]]

In [17]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
  ['Camry CNG', 1999, -3.932541757118491],
  ['Camry CNG', 2001, -3.9316423754756538],
  ['Camry CNG', 2000, -3.9316423754756538],
  ['Cab/Chassis 2WD', 1993, 3.3791118637260937]],
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

Format: A 19X3 list, with the Year and Combined MPG being of type integer and only the calculated difference is of type float

Note: The value for the first model should be 0. It does not matter that there are gaps in the years, calculate with respect the previous model.

In [18]:
dfGolf = df[(df['Model']=='Golf') & (df['Transmission']=='Manual 5-spd') & (df['Fuel Type']=='Regular')][['Year','Combined MPG',]]

answer_dict["Q5"] = [[int(x) if x in Q5list[:2] else Q5list[2] for x in Q5list] for Q5list in \
                    dfGolf.assign(Diff = dfGolf['Combined MPG'].diff()).fillna(0).values.tolist()]

In [19]:
answer_dict["Q5"]

[[1986, 26, 0.0],
 [1987, 26, 0.0],
 [1988, 25, -1.0],
 [1989, 25, 0.0],
 [1999, 24, -1.0],
 [2000, 24, 0.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2003, 24, 0.0],
 [2004, 24, 0.0],
 [2005, 24, 0.0],
 [2006, 24, 0.0],
 [2010, 25, 1.0],
 [2011, 26, 1.0],
 [2012, 26, 0.0],
 [2013, 26, 0.0],
 [2015, 30, 4.0],
 [2016, 30, 0.0],
 [2017, 29, -1.0]]

In [20]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
  ['Camry CNG', 1999, -3.932541757118491],
  ['Camry CNG', 2001, -3.9316423754756538],
  ['Camry CNG', 2000, -3.9316423754756538],
  ['Cab/Chassis 2WD', 1993, 3.3791118637260937]],
 'Q5': [[1986, 26, 0.0],
  [1987, 26, 0.0],
  [1988, 25, -1.0],
  [1989, 25, 0.0],
  [1999, 24, -1.0],
  [2000, 24, 0.0],
  [2001, 24, 0.0],
  [2002, 24, 0.0],
  [2003, 24, 0.0],
  [2004, 24, 0.0],
  [2005, 24, 0.0],
  [2006, 24, 0.0],
  [2010, 25, 1.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': None,
 'Q7': None}

## Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda
Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Ford and ending with Volkswagen

In [21]:
dfBrands = df[df['Make'].isin(['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda'])]

answer_dict["Q6"] = dfBrands[['Make','CO2 Emission Grams/Mile']].sort_values(['Make', 'CO2 Emission Grams/Mile'])\
                    .groupby('Make').head(5).assign(Emission = [num for num in range(5) for num in range(5)])\
                    .pivot(index='Make', columns='Emission', values='CO2 Emission Grams/Mile')\
                    .reindex(['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']).reset_index().values.tolist()

In [22]:
answer_dict["Q6"]

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

In [23]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
  ['Camry CNG', 1999, -3.932541757118491],
  ['Camry CNG', 2001, -3.9316423754756538],
  ['Camry CNG', 2000, -3.9316423754756538],
  ['Cab/Chassis 2WD', 1993, 3.3791118637260937]],
 'Q5': [[1986, 26, 0.0],
  [1987, 26, 0.0],
  [1988, 25, -1.0],
  [1989, 25, 0.0],
  [1999, 24, -1.0],
  [2000, 24, 0.0],
  [2001, 24, 0.0],
  [2002, 24, 0.0],
  [2003, 24, 0.0],
  [2004, 24, 0.0],
  [2005, 24, 0.0],
  [2006, 24, 0.0],
  [2010, 25, 1.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': None}

## Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.

Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

In [24]:
answer_dict["Q7"] = [[eval(x) if x == Q7list[0] else Q7list[1] for x in Q7list] for Q7list in df.groupby(pd.cut(df["Year"],\
                    bins=[1983, 1988, 1993, 1998, 2003, 2008, 2013, 2018],\
                    labels=['(1984, 1988)', '(1989, 1993)', '(1994, 1998)', '(1999, 2003)', '(2004, 2008)', '(2009, 2013)', '(2014, 2018)']))\
                    ['Combined MPG'].median().astype('float').reset_index().values.tolist()]

In [25]:
answer_dict["Q7"]

[[(1984, 1988), 19.0],
 [(1989, 1993), 18.0],
 [(1994, 1998), 19.0],
 [(1999, 2003), 19.0],
 [(2004, 2008), 19.0],
 [(2009, 2013), 21.0],
 [(2014, 2018), 22.0]]

In [26]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
  ['Camry CNG', 1999, -3.932541757118491],
  ['Camry CNG', 2001, -3.9316423754756538],
  ['Camry CNG', 2000, -3.9316423754756538],
  ['Cab/Chassis 2WD', 1993, 3.3791118637260937]],
 'Q5': [[1986, 26, 0.0],
  [1987, 26, 0.0],
  [1988, 25, -1.0],
  [1989, 25, 0.0],
  [1999, 24, -1.0],
  [2000, 24, 0.0],
  [2001, 24, 0.0],
  [2002, 24, 0.0],
  [2003, 24, 0.0],
  [2004, 24, 0.0],
  [2005, 24, 0.0],
  [2006, 24, 0.0],
  [2010, 25, 1.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

## Testing  answers

We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
These tests are not meant to be comprehensive, you should review all your answers carefully.

In [27]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 16 tests in 0.013s

OK

## Save your answers


 First, take a moment to evaluate your answers and make sure you have not missed anything

 Use the following code to save your answers in pickle format, change the filename using the following format:
  
  FIRSTNAME_LASTNAME_answers.pkl

In [28]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Cab/Chassis 2WD', 1993, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1992, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1991, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1990, 4.1122558654247925],
  ['Cab/Chassis 2WD', 1989, 4.1122558654247925],
  ['Camry CNG', 1999, -3.932541757118491],
  ['Camry CNG', 2001, -3.9316423754756538],
  ['Camry CNG', 2000, -3.9316423754756538],
  ['Cab/Chassis 2WD', 1993, 3.3791118637260937]],
 'Q5': [[1986, 26, 0.0],
  [1987, 26, 0.0],
  [1988, 25, -1.0],
  [1989, 25, 0.0],
  [1999, 24, -1.0],
  [2000, 24, 0.0],
  [2001, 24, 0.0],
  [2002, 24, 0.0],
  [2003, 24, 0.0],
  [2004, 24, 0.0],
  [2005, 24, 0.0],
  [2006, 24, 0.0],
  [2010, 25, 1.0],
  [2011, 26, 1.0],
  [2012, 26, 0.0],
  [2013, 26, 0.0],
  [2015, 30, 4.0],
  [2016, 30, 0.0],
  [2017, 29, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

In [29]:
import pickle

file_name = "Paul_Felix_answers.pkl"
path = ""

print(path+file_name)

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)

Paul_Felix_answers.pkl